#sesion{
    display: flex;
    list-style: none;
    justify-content: end;
    margin: 0 10px 0px ;
    margin-bottom: -16px;
}
#sesion li{
    padding-right: 10px;
}
#sesion li a{
    text-decoration: none;
    color: gray;
}
#top_2{
    display: flex;
    justify-content: space-around;
    list-style: none;

}
#top_2 li a{
    text-decoration: none;
    color: black;
}
#top_3{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#top_3 li a{
    text-decoration: none;
    border: solid 0px black;
    background-color: rgb(190, 188, 188);
    color: rgb(43, 127, 236);
    padding: 10px;
}
#botones ul{
    display: flex;
    list-style: none;
    justify-content: end;
}
#botones ul li{
    padding-right: 10px;
    color: rgb(43, 127, 236);
}
#botones ul li a{
    text-decoration: none;
}
#cubierto{
    background-color:rgb(43, 127, 236);
    color: white;
    padding: 10px;
}
#subr{
    color: rgb(43, 127, 236);
}
#subr:hover{
    background-color: rgb(43, 127, 236);
    color: white;
    padding: 10px;
}
#icon{
    width: 20px;
}
#peli{
    width: 200px;
}
body{
    background-image: url('../imagenes/Oppenheimer.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
}
header ul{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
header .fondo_amarillo:hover{
    background-color: yellow;
    padding: 10px;
}
main #botones{
    margin-top: 32px;
    background-color: white;
    padding: 10px;
}
nav #carteleras{
    display:flex ;
    justify-content: space-around;
    margin-top: 50px;
}
nav #carteleras2{
    display:flex ;
    justify-content: space-around;
    margin-top: 50px;
}
nav .bordes{
    background-color: white;
    border: 1px solid grey;
    padding: 20px;
}
footer{
    justify-content: center;
    padding: 30px;
}
footer ul li{
    list-style: none;
}
footer h3{
    color: rgb(17, 64, 124);
}
footer ul li a{
    text-decoration: none;
    color: rgb(165, 162, 162);
}
label{
    background-color: grey;
}
#cont{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 10px;
}
#red{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
#ftiy{
    margin-right: 100px;
}
#size{
    height: 50px;
}
#gr{
    background-color: rgb(231, 231, 231);
    padding-bottom:25px ;
    padding-top: 10px;
}
#mov ul li{
    margin-bottom: 15px;
}
#tabl{
    background-color: white;
}
tr{
    justify-content: space-around;
}
.tabw{
    background-color: white;
    padding: 10px;
}
caption{
    background-color: white;
}